![An image](https://miro.medium.com/max/720/1*haUJ7elh9B4MoCqNmhtPgg.png)

# Introduction to Panda เอ้ย Pandas


---

Pandas หนึ่งใน Python Package ที่เป็นที่นิยมสำหรับวงการ Data Science โดยมีข้อดีในการทำ Data Manipulation และ Data Analysis ได้โดยง่าย

##Importing Pandas into this notebook




<h4>อย่างแรกเราก็ต้องทำการนำเรียกตัว Package ให้พร้อมใช้งานก่อน

In [1]:
import pandas as pd

<h2>งั้นเราก็มาเริ่มกันเลยดีกว่า!!!!

# 1. Pandas Data Structures

## Series

---
การจัดเก็บข้อมูลอยู่ในรูปของ array 1 มิติ หรือง่ายๆก็คือ 1 column นั้นแหละ

In [ ]:
ser = pd.Series([5, 10, 15])

In [ ]:
print("Data dimension: ", ser.ndim)  # ใช้.ndim ในการเช็คขนาดมิติ
print("Data shape: ", ser.shape)  # ใช้.shapeในการดูรูบทรงของข้อมูล

In [ ]:
ser  # พูดง่ายๆ มันคือการสร้างออกมาคอลลัมน์นึงนั่นแหละ



---


ถ้าจะให้เทียบตัวอย่างง่ายๆก็จะคล้ายๆใน Excel เลยจร้า

![excel.png]()

## Dataframe

---

พูดง่ายๆมันก็คือseriesหลายๆอันรวมกันกลายเป็นตารางนั่นแหละ หน้าตาเหมือนตารางในexcelเป๊ะเลย โดยมีแถวกับคอลลัมน์ ซึ่งคอลลัมน์ก็ยังตั้งชื่อได้ด้วย

In [ ]:
dfcollumn = [["firstname", "surname", "age"]]  # ตั้งเพื่อให้อ่านง่ายๆ ก็ตั้งชื่อคอลลัมน์ขึ้นมาก่อน

In [ ]:
dfval = [
    ["tanakrit", "saiphan", 17],
    ["nayos", "suwatano", 18],
    ["pannathorn", "krudthong", 18],
]  # ตารางมันก็ต้องมีข้อมูล ซึ่งข้อมูลแบบตารางมันก็คือmatrixนั่นแหละ

จากนั้นเราก็กำหดให้ชื่collumn = ตัวแปร dfcollumn ที่ประกาศไว้ ส่วนข้อมูลของตารางก็เอามาจากตัวแปรdfval เพื่อสร้างdataframe

In [ ]:
df = pd.DataFrame(columns=dfcollumn, data=dfval)  # วิธีสร้าง dataframe

In [ ]:
df  # ลองเรียกใช้ดูหน่อย

ก็จะออกมาเป็นตารางสวยๆแบบนี้เลย ซึ่งเหมือนexcelเป๊ะ

In [ ]:
# เสริมเฉยๆ ว่าเราสามารถทำ dataframe กำหนดชื่อและข้อมูลของคอลลัมน์พร้อมๆกันได้เช่นกัน

data = {
    "firstname": ["tanakrit", "mikey", "pannathorn"],
    "surname": ["saiphan", "suwatano", "krudthong"],
    "age": [17, 18, 18],
}

df = pd.DataFrame(data)

In [ ]:
df  # ลองเทียบกับข้างบนดูเหมือนกันใช่ม้าาาา

# 2. Read dataframe

---

# New Section

โดยปกติเราก็ไม่ค่อยสร้าง Dataframe เองหรอก การใช้ Pandas ส่วนใหญ่ใช้กับการอ่านตารางเข้ามาแล้วก็เอามาประมวลผลดูมากกว่า ซึ่งไฟล์ที่ Pandas สามรถอ่านได้ก็มีตั้งแแต่ CSV, JSON, Excel, etc. [หากอยากดูเพิ่มเติมก็กดตรงนี้เน้อ](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html)

In [ ]:
# ใช้คำสั่งread csv เพื่อรับข้อมูลตารางเข้ามา
df = pd.read_csv(
    "https://raw.githubusercontent.com/datasciencedojo/datasets/refs/heads/master/titanic.csv"
)

csv มันก็มีหน้าตาเหมือนexcelเลย

In [ ]:
df  # เรียกออกมาดูซะหน่อย

มันสวยแต่มันเรียกข้อมูลออกมายาวไป ถ้าเราต้องการดูตัวอย่างข้อมูลสั้นๆ ให้ใช้ฟังก์ชั้น `.head()` ในการเรียก5แถวแรกออกมา

In [ ]:
df.head(1)  # ใส่1เข้าไปเพื่อเรียกเอาแถวแรกสุดจากด้านบนออกมา

ในทางกลับกันหากเราใช้ฟังก์ชัน `.tail()` เราก็จะได้ 5 แถวหลังของชุดข้อมูลที่เราเรียกมา

In [ ]:
df.tail(2)  # ใส่2เข้าไปเพื่อเรียกเอาแถวแรกสุด2แถวจากด้านล่างออกมา

In [ ]:
df.sample(2)  # ใส่2เข้าไปเพื่อสุ่มเรียกค่าจากตรารางออกมาสองแถว

In [ ]:
df.info()  # ใช้คำสั่งinfoเพื่อเรียกดูข้อมูลในตารางว่ามีอะไรบ้าง มีค่าหายไหม มีข้อมูลประเภทใดบ้าง

# 3. Selecting Data by Position or Label

---

### Getting

เลือกมาเป็น element

In [ ]:
ser  # เรียก series ที่ชื่อser ออกมาดู

In [ ]:
ser[1]  # เรียกดูค่าแรก

In [ ]:
ser[0:2]  # เรียกออกมาเป็นช่วง

เลือก subset ของ Dataframe

In [ ]:
df[56:60]  # เรียกดูตารางออกมาเป็นช่วงๆ

### Selecting

เลือกโดย Position: เป็นการเลือก single value โดยแถวและคอลัมน์

In [ ]:
df.head()

ดูค่าผ่านคำสั่งiloc และ iat ในการเรียกค่าจากตารางออกมาผ่านindex

In [ ]:
df.iloc[0, 3]  # เรียกหาแถวที0ตัวที่3

In [ ]:
df.iloc[2, 8]  # เรียกหาแถวที2ตัวที่8

In [ ]:
df.iat[0, 3]  # เรียกหาแถวที0ตัวที่3 ต่างกันตรงที่ ilocระบุแค่แถวได้ แต่iatไม่

เลือกโดย Label: เป็นการเลือก single value โดยแถวและคอลัมน์จาก labels

In [ ]:
df.head()

In [ ]:
df.loc[0, "Name"]  # เรียกหาแถวที4ในคอลลัมน์ที่ชื่อว่า Age

In [ ]:
df.at[1, "Name"]  # เรียกหาแถวที1ในคอลลัมน์ที่ชื่อว่า Name

เลือก subset ของ DataFrame

In [ ]:
df.iloc[0]  # เรียกหาแถวที0 ซึ่งจะแสดงค่าแต่ละคอลลัมน์ออกมา

In [ ]:
df.iloc[:, 5]  # เรียกหทุกแถว แต่เอาแค่คอลลัมน์ที่5

In [ ]:
df.iloc[0:4]  # เรียกหาแถวที0-3

In [ ]:
df.iloc[0:4, 0:4]  # เรียกหาแถวที0-3 แต่เอาเฉพาะคอลลัมน์ที่0-3

In [ ]:
df.iloc[[0, 4], [0, 4]]  # เรียกเอาเฉพาะแถวที่0กับ4เท่านั้น และเอาแค่คอลลัมน์ที่0กับ4เช่นกัน

In [ ]:
df.loc[0:4]  # เรียกหาแถวที0-3

In [ ]:
df.loc[0:2, "PassengerId":"Age"]  # เรียกหาแถวที0-2 เอาค่าเฉพาะคอลลัมน์ PassengerId ถึง Age

In [ ]:
df.loc[
    0:4, ["PassengerId", "Age"]
]  # เรียกหาแถวที0กับ2 เอาค่าเฉพาะคอลลัมน์ PassengerId กับ Age

### Boolean Indexing

Series `ser` ที่มีค่าเท่ากับ 5

In [ ]:
ser == 5  # มันจะไปหาว่าในserมีตัวไหนเท่ากับ5บ้าง ถ้าตัวไหนใช่ก็จะคืนค่าTrue

In [ ]:
ser

In [ ]:
ser[ser == 5]  # หาค่าจากเงื่อนไขในseries

Series `ser` ที่มีค่าน้อยกว่า 15

In [ ]:
ser < 15

In [ ]:
ser[ser < 15]

ผู้โดยสารที่เป็นผู้ชาย

In [ ]:
df["Sex"] == "male"  # เช็คว่ามีแถวไหนที่คอลลัมน์sexเท่ากับmaleบ้าง

In [ ]:
df[df["Sex"] == "female"]  # เรียกหาแถวที่ใช่ผ่านเงื่อนไข

#3. Aggregation

---

การ aggregate ข้อมูลในรูปแบบต่างๆ ไม่ว่าจะเป็นการหาค่าเฉลี่ย, ค่าที่มากที่สุด, ค่าที่น้อยที่สุด รวมถึงการหาค่าที่เกิดบ่อยที่สุดและอื่นๆอีกด้วย

In [ ]:
df2 = df[
    ["PassengerId", "Sex", "Age", "Ticket", "Fare"]
]  # เอาตารางมาทั้งตารางแต่เลือกเฉพาะคอลลัมน์ที่กำหนด

In [ ]:
df2.head()  # เรียกดูสักหน่อย

In [ ]:
df2.info()

In [ ]:
df2.dtypes

### Numerical Data

ในการหา descriptive statistics เราสามารถใช้ function ที่ต้องการโดยตรงเลยหรือใช้ `describe()` ก็ได้ โดยใน `describe()` นั้น ก็จะมีบอกค่าทางสถิิติในรูปแบบต่างๆ ทั้ง ค่าเฉลี่ย, ส่วนเบี่ยงเบนมาตรฐาน, ค่าน้อยที่สุด, ค่ามากที่สุดและรวมถึงค่า percentile ต่างๆอีกด้วย

In [ ]:
print(f"Lowest sales price: {df2['Age'].min()}")  # หาค่าที่น้อยที่สุดในคอลลัมน์age โดยใช้min()
print(f"Highest sales price: {df2['Age'].max()}")  # หาค่าที่มากที่สุดในคอลลัมน์age โดยใช้max()
print(f"Average sales price: {df2['Age'].mean()}")  # หาค่าที่เฉลี่ยในคอลลัมน์age โดยใช้mean()
print(
    f"Median sales price: {df2['Age'].median()}"
)  # หาค่าที่มัธยฐานในคอลลัมน์age โดยใช้median()

In [ ]:
df2.describe()  # เราสามารถทำสิ่งที่ข้างบนทำได้ง่ายๆ โดยใช้.describe ซึ่งจะบอกทุกอย่าง

### Categorical Data

ในส่วนของ categorical data เราก็จะสามารถหา unique value ของ category ได้ รวมทั้งจำนวนครั้งที่ category นั้นมีอยู่ใน data ของเรา

In [ ]:
df2["Ticket"]

In [ ]:
df["Ticket"].unique()  # หาว่าในคอลลัมน์Ticketมีค่าอะไรบ้างซึ่งจะไม่มีค่าซํ้า

In [ ]:
df["Ticket"].nunique()  # หาจำนวนของค่าunique ว่ามีกี่ตัว

In [ ]:
df["Ticket"].value_counts()  # เรียกออกมาดูว่าในคอลลัมน์นั้นมีค่าไหนซํ้ากันกี่ตัว

### Categorical & Numerical Data

เราสามารถจัดกลุ่มของ category ต่างๆโดยคำสั่ง `groupby()` [Group by: split-apply-combine](https://pandas.pydata.org/docs/user_guide/groupby.html) เพื่อที่จะสามารถหาค่าต่างๆในแต่ละกลุ่มได้

In [ ]:
df2

In [ ]:
df2.groupby(["Sex"])[
    "Age"
].max()  # เรียกดูว่าในคอลลัมน์sex มีcatigorycal data อะไรบ้างและแต่ละอันมีค่าmaxเท่าไหร่

In [ ]:
df2.groupby(["Sex"])[
    "Age"
].min()  # เรียกดูว่าในคอลลัมน์sex มีcatigorycal data อะไรบ้างและแต่ละอันมีค่าmaxของageเท่าไหร่

In [ ]:
df2.groupby(["Sex"])[
    "Age"
].mean()  # เรียกดูว่าในคอลลัมน์sex มีcatigorycal data อะไรบ้างและแต่ละอันมีค่าmeanของageเท่าไหร่

In [ ]:
df2.groupby(["Sex"])[
    "Fare"
].mean()  # เรียกดูว่าในคอลลัมน์sex มีcatigorycal data อะไรบ้างและแต่ละอันมีค่าmeanของfareเท่าไหร่